<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node js Express Tutorial</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div>
      <table class="table ">
        <thead>
          <tr>
            <td><b>Nombre moneda</b></td>
            <td><b>Precio Moneda</b></td>
            <td><b>Editar Moneda</b></td>
            <td><b>Borrar Moneda</b></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < coins.length; i++) { %>
          <tr>
            <td><%= coins[i].name %></td>
            <td><%= coins[i].price %></td>
            <td><a href="/coins/edit/<%= coins[i]._id %>" class="btn btn-default">Editar</a></td>
            <td><a href="/coins/delete/<%= coins[i]._id %>" class="btn btn-default">Borrar</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>